<div id="contact" class="w-full mt-[200px] mb-[286px]">
    <h1 class="text-2xl text-[#5A0404] tracking-[12px]">CONTACT</h1>
    <div class="mt-32 w-full rounded-[30px] bg-[#130101] p-6 lg:py-16 lg:px-12 lg:grid lg:grid-cols-2 lg:gap-44">
        <div class="lg:h-full lg:flex lg:flex-col lg:justify-between">
            <h2 class="text-[#FB9D9D] text-2xl lg:text-[32px] max-w-[349px]">Feel free to contact us, using the form below.</h2>
            <p class="text-base text-[#FB9D9D] hidden lg:block">Εδώ ωραίο μήνυμα για κλείσιμο (προαιρετικό) </p>
        </div>

        <!-- form -->
        <div class="mt-16 lg:mt-0 w-full p-1">
            <form #f="ngForm" [formGroup]="contactForm" class="w-full space-y-4">
                <!-- Email -->
                <div class="relative">
                    <input
                        type="text" 
                        id="email"
                        formControlName="email"
                        class="block rounded-full h-12 w-full text-sm text-[#FB9D9D] text-bold bg-[#270202] border-none appearance-none  focus:ring-none focus:ring-0 peer" placeholder=" " />
                    <label 
                        for="email"
                        class="absolute text-sm text-[#FB9D9D] duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-3 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">
                        Email
                    </label>
                </div>
                <!-- Full Name -->
                <div class="relative">
                    <input
                        type="text" 
                        id="name"
                        formControlName="name"
                        class="block rounded-full h-12 w-full text-sm text-[#FB9D9D] text-bold bg-[#270202] border-none appearance-none  focus:ring-none focus:ring-0 peer" placeholder=" " />
                    <label 
                        for="name"
                        class="absolute text-sm text-[#FB9D9D] duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-3 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">
                        Full Name
                    </label>
                </div>
                <!-- Text -->
                <div class="relative">
                    <textarea name="message" id="message" formControlName="message" class="block resize-none rounded-[24px] w-full text-sm text-[#FB9D9D] text-bold bg-[#270202] border-none appearance-none  focus:ring-none focus:ring-0 pt-8 peer" rows="10"></textarea>
                    <label 
                        for="message"
                        class="absolute text-sm text-[#FB9D9D] duration-300 transform -translate-y-4 scale-100 top-6 z-10 origin-[0] start-3 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">
                        Type Your Message
                    </label>
                </div>
                <!-- Submit -->
                <div class="w-full pt-10 lg:flex lg:justify-center">
                    <button class="bg-gradient-to-r lg:max-w-[250px] from-[#855307] to-[#FBC473] w-full rounded-full h-12 text-[#130101] text-base font-bold cursor-pointer hover:from-[#FBC473] hover:to-[#FBC473] focus:form-[#855307] focus:to-[#855307]" type="submit">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>