<div class="p-8 w-full flex justify-center items-start mb-32">

    <div *ngIf="client$ | async as client" class="w-full max-w-[1120px]">

        <!-- Top Buttons -->
        <div class="w-full flex justify-between items-center">
            <!-- Back button -->
            <div>
                <button [routerLink]="['/dashboard']" type="button" class="rounded-full w-12 h-12 bg-[#E6E6E6] flex justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <g clip-path="url(#clip0_46_281)">
                            <path d="M20.25 12H3.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.5 5.25L3.75 12L10.5 18.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_46_281">
                            <rect width="24" height="24" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </button>
            </div>
            <!-- Profile Handle Buttons -->
            <div class="flex justify-end items-center gap-6">
                <!-- Upload Contract -->
                <input type="file" class="hidden" (change)="onFileSelected($event, client.id)" #fileUpload>
                <div *ngIf="client.contractId === null" (click)="fileUpload.click()" class="flex justify-center items-center w-max gap-1 cursor-pointer">
                    <p class="text-sm text-[#808080]">Upload Contract</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <g clip-path="url(#clip0_166_435)">
                            <path d="M12 14.25V3.75" stroke="#808080" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M20.25 14.25V19.5C20.25 19.6989 20.171 19.8897 20.0303 20.0303C19.8897 20.171 19.6989 20.25 19.5 20.25H4.5C4.30109 20.25 4.11032 20.171 3.96967 20.0303C3.82902 19.8897 3.75 19.6989 3.75 19.5V14.25" stroke="#808080" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M8.25 7.5L12 3.75L15.75 7.5" stroke="#808080" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_166_435">
                            <rect width="24" height="24" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div *ngIf="client.contractId != null" class="flex justify-center items-center w-max gap-1 cursor-pointer">
                    <p class="text-sm text-[#808080]">{{ client.contract?.contractPath }}</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <g clip-path="url(#clip0_166_442)">
                            <path d="M15 9L9 15" stroke="#808080" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9 9L15 15" stroke="#808080" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#808080" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_166_442">
                            <rect width="24" height="24" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <!-- Remove User -->
                <div>
                    <button *ngIf="client.matchedUserId == null" (click)="deleteAlert = true" type="button" class="py-2 px-6 flex justify-center items-center gap-3 rounded-full bg-[#E6E6E6] text-sm font-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <g clip-path="url(#clip0_87_5003)">
                                <path d="M20.25 5.25H3.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9.75 9.75V15.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14.25 9.75V15.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18.75 5.25V19.5C18.75 19.6989 18.671 19.8897 18.5303 20.0303C18.3897 20.171 18.1989 20.25 18 20.25H6C5.80109 20.25 5.61032 20.171 5.46967 20.0303C5.32902 19.8897 5.25 19.6989 5.25 19.5V5.25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M15.75 5.25V3.75C15.75 3.35218 15.592 2.97064 15.3107 2.68934C15.0294 2.40804 14.6478 2.25 14.25 2.25H9.75C9.35218 2.25 8.97064 2.40804 8.68934 2.68934C8.40804 2.97064 8.25 3.35218 8.25 3.75V5.25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_87_5003">
                                <rect width="24" height="24" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        Remove user
                    </button>
                </div>
                <!-- Remove User -->
                <div>
                    <button (click)="editClient = true" *ngIf="!editClient" type="button" class="py-2 px-6 flex justify-center items-center gap-3 rounded-full bg-[#6144C6] text-sm font-bold text-[#F5F5F5]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <g clip-path="url(#clip0_87_4971)">
                                <path d="M20.25 20.25H9.00004L3.79785 15.0478" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M15.375 8.625L6.375 17.625" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9 20.25H4.5C4.30109 20.25 4.11032 20.171 3.96967 20.0303C3.82902 19.8897 3.75 19.6989 3.75 19.5V15.3103C3.75009 15.1117 3.82899 14.9212 3.96938 14.7806L15.5306 3.21937C15.6713 3.07883 15.862 2.99988 16.0608 2.99988C16.2596 2.99988 16.4503 3.07883 16.5909 3.21937L20.7806 7.40625C20.9212 7.54689 21.0001 7.73758 21.0001 7.9364C21.0001 8.13523 20.9212 8.32592 20.7806 8.46656L9 20.25Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.75 6L18 11.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_87_4971">
                                <rect width="24" height="24" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        Edit user
                    </button>
                    <button *ngIf="editClient" (click)="updateClient()" type="button" class="py-2 px-6 flex justify-center items-center gap-3 rounded-full bg-[#6144C6] text-sm font-bold text-[#F5F5F5]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <g clip-path="url(#clip0_87_4971)">
                                <path d="M20.25 20.25H9.00004L3.79785 15.0478" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M15.375 8.625L6.375 17.625" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9 20.25H4.5C4.30109 20.25 4.11032 20.171 3.96967 20.0303C3.82902 19.8897 3.75 19.6989 3.75 19.5V15.3103C3.75009 15.1117 3.82899 14.9212 3.96938 14.7806L15.5306 3.21937C15.6713 3.07883 15.862 2.99988 16.0608 2.99988C16.2596 2.99988 16.4503 3.07883 16.5909 3.21937L20.7806 7.40625C20.9212 7.54689 21.0001 7.73758 21.0001 7.9364C21.0001 8.13523 20.9212 8.32592 20.7806 8.46656L9 20.25Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.75 6L18 11.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_87_4971">
                                <rect width="24" height="24" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        Save Changes
                    </button>
                </div>
            </div>
        </div>
        <!-- / Top Buttons -->

        <!-- Edit user form -->
        <app-edit-profile *ngIf="editClient" [client]="client"></app-edit-profile>
        <!-- / Edit user form -->

        <!-- User Profile -->
        <div *ngIf="client.matchedUserId === null && !editClient" class="w-full bg-white rounded-[40px] py-10 px-5 flex justify-start items-center gap-4 mt-9">
            <img class="w-[160px] h-[160px] rounded-full border-2 border-[#D9D9D9]" [src]="baseUrl + client.profileImagePath" alt="UserProfilePicture">
            <div class="grid space-y-5">
                <p class="text-2xl font-bold">{{ client.firstName }} {{ client.lastName }}</p>
                <div class="flex justify-start items-center gap-12">
                    <p class="text-[#BBBBBB] text-base">{{ client.dateOfBirth }} | <span class="text-black">{{ clientService.calculateAge(client.dateOfBirth) }}</span></p>
                    <div class="flex justify-start items-center gap-2">
                        <!-- gender -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <g clip-path="url(#clip0_172_71)">
                                <path d="M9.75 21C13.4779 21 16.5 17.9779 16.5 14.25C16.5 10.5221 13.4779 7.5 9.75 7.5C6.02208 7.5 3 10.5221 3 14.25C3 17.9779 6.02208 21 9.75 21Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14.5229 9.47719L20.2501 3.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M15.75 3.75H20.25V8.25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_172_71">
                                <rect width="24" height="24" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        {{ client.sex }}
                    </div>
                    <p class="text-sm">{{ clientService.setClientStatus(client.status) }}</p>
                </div>
                <p class="text-base text-[#808080]">{{ client.email }}</p>
            </div>
        </div>
        <!-- / User Profile -->

        <!-- Relationship Profile -->
        <div *ngIf="client.matchedUserId != null && !editClient" class="w-full bg-white rounded-[40px] py-10 px-5 mt-9">
            <div class="grid grid-cols-3 gap-6">
                <!-- Client -->
                <div class="w-full justify-self-end space-y-6">
                    <p class="text-xl font-bold text-right">{{ client.firstName }} {{ client.lastName }}</p>
                    <div class="flex justify-end items-center gap-12">
                        <p class="text-[#BBBBBB] text-base">{{ client.dateOfBirth }} | <span class="text-black">{{ clientService.calculateAge(client.dateOfBirth) }}</span></p>
                        <div class="inline-flex gap-2">
                            <!-- male -->
                            <svg *ngIf="client.sex === 'male'" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <g clip-path="url(#clip0_82_1928)">
                                    <path d="M9.75 21C13.4779 21 16.5 17.9779 16.5 14.25C16.5 10.5221 13.4779 7.5 9.75 7.5C6.02208 7.5 3 10.5221 3 14.25C3 17.9779 6.02208 21 9.75 21Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M14.5229 9.47719L20.2501 3.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15.75 3.75H20.25V8.25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_82_1928">
                                    <rect width="24" height="24" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            <!-- female -->
                            <svg *ngIf="client.sex === 'female'" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <g clip-path="url(#clip0_82_2647)">
                                    <path d="M12 15.75C15.7279 15.75 18.75 12.7279 18.75 9C18.75 5.27208 15.7279 2.25 12 2.25C8.27208 2.25 5.25 5.27208 5.25 9C5.25 12.7279 8.27208 15.75 12 15.75Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 15.75V22.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M8.25 19.5H15.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_82_2647">
                                    <rect width="24" height="24" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            <p class="text-sm">{{ client.sex }}</p>
                        </div>
                    </div>
                    <p class="text-[#808080] text-base text-right">{{ client.email }}</p>
                </div>
                <!-- Images -->
                <div class="w-[350px] flex justify-center items-center">
                    <img class="w-[160px] h-[160px] rounded-full border-2 border-[#D9D9D9] z-20" [src]="baseUrl+ client.profileImagePath" alt="UserProfilePicture">
                    <img class="w-[160px] h-[160px] rounded-full border-2 border-[#D9D9D9] -ml-10" [src]="baseUrl+ client.matchedUser?.profileImagePath" alt="UserProfilePicture">
                </div>
                <!-- MatchClient -->
                <div class="w-full justify-self-start space-y-6">
                    <p class="text-xl font-bold">{{ client.matchedUser?.firstName }} {{ client.matchedUser?.lastName }}</p>
                    <div class="flex justify-start items-center gap-12">
                        <p class="text-[#BBBBBB] text-base">{{ client.matchedUser?.dateOfBirth }} | <span class="text-black">{{ clientService.calculateAge(client.matchedUser?.dateOfBirth) }}</span></p>
                        <div class="inline-flex gap-2">
                            <!-- male -->
                            <svg *ngIf="client.matchedUser?.sex === 'male'" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <g clip-path="url(#clip0_82_1928)">
                                    <path d="M9.75 21C13.4779 21 16.5 17.9779 16.5 14.25C16.5 10.5221 13.4779 7.5 9.75 7.5C6.02208 7.5 3 10.5221 3 14.25C3 17.9779 6.02208 21 9.75 21Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M14.5229 9.47719L20.2501 3.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15.75 3.75H20.25V8.25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_82_1928">
                                    <rect width="24" height="24" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            <!-- female -->
                            <svg *ngIf="client.matchedUser?.sex === 'female'" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <g clip-path="url(#clip0_82_2647)">
                                    <path d="M12 15.75C15.7279 15.75 18.75 12.7279 18.75 9C18.75 5.27208 15.7279 2.25 12 2.25C8.27208 2.25 5.25 5.27208 5.25 9C5.25 12.7279 8.27208 15.75 12 15.75Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 15.75V22.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M8.25 19.5H15.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_82_2647">
                                    <rect width="24" height="24" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            <p class="text-sm">{{ client.matchedUser?.sex }}</p>
                        </div>
                    </div>
                    <p class="text-[#808080] text-base">{{ client.matchedUser?.email }}</p>
                </div>
            </div>
            <p class="w-full text-center text-sm pt-8">In Relationship</p>
        </div>
        <!-- / Relationship Profile -->

        <!-- User interests -->
        <div *ngIf="clientInterests.length > 0" class="w-full flex justify-start items-center mt-4">
            <div class="w-full flex flex-wrap justify-start items-center gap-2">
                <button type="button" class="inline-flex justify-between items-center w-full max-w-[300px] bg-transparent border-2 border-[#E6E6E6] rounded-full h-12 px-4">
                    Add interests
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <g clip-path="url(#clip0_50_522)">
                            <path d="M13 6L8 11L3 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_50_522">
                            <rect width="16" height="16" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </button>
                <div *ngFor="let item of clientInterests" [style.background]="item.subInterestColor" class="inline-flex justify-center items-center gap-1 p-2 rounded-full">
                    <p class="text-xs">{{ item.subInterest }}</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <g clip-path="url(#clip0_50_568)">
                            <path d="M12.5 3.5L3.5 12.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12.5 12.5L3.5 3.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_50_568">
                            <rect width="16" height="16" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>
            <div *ngIf="partnerInterests.length > 0" class="w-full flex flex-wrap justify-start items-center gap-2 border-l-1 border-[#E6E6E6]">
                <button type="button" class="inline-flex justify-between items-center w-full max-w-[300px] bg-transparent border-2 border-[#E6E6E6] rounded-full h-12 px-4">
                    Add interests
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <g clip-path="url(#clip0_50_522)">
                            <path d="M13 6L8 11L3 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_50_522">
                            <rect width="16" height="16" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </button>
                <div *ngFor="let item of partnerInterests" [style.background]="item.subInterestColor" class="inline-flex justify-center items-center gap-1 p-2 rounded-full">
                    <p class="text-xs">{{ item.subInterest }}</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <g clip-path="url(#clip0_50_568)">
                            <path d="M12.5 3.5L3.5 12.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12.5 12.5L3.5 3.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_50_568">
                            <rect width="16" height="16" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>
        </div>
        <!-- / User interests -->

        <!-- Informations -->
        <div class="w-full mt-10 flex justify-center items-start">
            <!-- Informations Empty -->
            <div *ngIf="!client.questionsSend" class="flex flex-col justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
                    <g clip-path="url(#clip0_46_307)">
                        <path d="M32 42C36.4183 42 40 38.4183 40 34C40 29.5817 36.4183 26 32 26C27.5817 26 24 29.5817 24 34C24 38.4183 27.5817 42 32 42Z" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M20 48C21.3972 46.1371 23.209 44.625 25.2918 43.5836C27.3746 42.5422 29.6713 42 32 42C34.3287 42 36.6254 42.5422 38.7082 43.5836C40.791 44.625 42.6028 46.1371 44 48" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M52 54V10C52 8.89543 51.1046 8 50 8L14 8C12.8954 8 12 8.89543 12 10V54C12 55.1046 12.8954 56 14 56H50C51.1046 56 52 55.1046 52 54Z" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M24 16H40" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_307">
                        <rect width="64" height="64" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                <p class="text-2xl text-[#808080]">There aren't any informations registered</p>
            </div>
            <!-- / Informations Empty -->

            <!-- Email has been sent - No Answers -->
            <div *ngIf="client.questionsSend && clientAnswers$.length <= 0" class="flex flex-col justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
                    <g clip-path="url(#clip0_46_307)">
                        <path d="M32 42C36.4183 42 40 38.4183 40 34C40 29.5817 36.4183 26 32 26C27.5817 26 24 29.5817 24 34C24 38.4183 27.5817 42 32 42Z" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M20 48C21.3972 46.1371 23.209 44.625 25.2918 43.5836C27.3746 42.5422 29.6713 42 32 42C34.3287 42 36.6254 42.5422 38.7082 43.5836C40.791 44.625 42.6028 46.1371 44 48" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M52 54V10C52 8.89543 51.1046 8 50 8L14 8C12.8954 8 12 8.89543 12 10V54C12 55.1046 12.8954 56 14 56H50C51.1046 56 52 55.1046 52 54Z" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M24 16H40" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_307">
                        <rect width="64" height="64" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                <p class="text-2xl text-[#808080]">Email has been already Sent to the User. The answers will be visible since the client submit his answers.</p>
            </div>
            <!-- / Email has been sent - No Answers -->
        </div>
        <!-- / Infortmations -->

        <!-- Client Answers -->
        <div *ngIf="(clientAnswers$.length > 0) && (!editClient)" class="w-full mt-10 flex flex-col justify-center items-center">
            <div class="w-full">
                <p class="text-2xl font-bold">Answers {{ client.firstName }}</p>
            </div>
            <div *ngFor="let item of clientAnswers$" class="w-full mt-10 space-y-6">
                <p class="text-xl">{{ item.questionCategory }}</p>
                <!-- Answer -->
                <div class="w-full grid grid-cols-2 gap-4">
                    <div *ngFor="let question of item.questions" class="w-full bg-white rounded-[20px] p-4">
                        <p class="text-sm text-[#808080]">{{ question.questionTitle }}</p>
                        <div class="flex justify-start items-center w-full mt-10">
                            <div class="w-max">
                                <p class="text-sm text-[#808080]">Answer: {{ client.firstName }}</p>
                            </div>
                            <!-- <div class="pt-[1px] bg-[#E6E6E6] w-full"></div> -->
                        </div>
                        <div class="w-full mt-8 space-y-4">
                            <div *ngFor="let answer of question.answers">
                                <!-- Checkbox - Radio -->
                                <div *ngIf="question.questionType != 'textbox' && question.questionType != 'linear' " class="flex justify-start items-center gap-4">
                                    <!-- Circle Not Selected -->
                                    <svg *ngIf="question.questionType == 'radio' && !answer.selected" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                        <circle cx="10" cy="10" r="9" stroke="#B3B3B3" stroke-width="2"/>
                                    </svg>
                                    <!-- Circle Selected -->
                                    <svg *ngIf="question.questionType == 'radio' && answer.selected" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="10" cy="10" r="9" stroke="black" stroke-width="2"/>
                                    </svg>
                                    <!-- Square Not Selected -->
                                    <svg *ngIf="question.questionType == 'checkbox' && !answer.selected" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="1" y="1" width="17" height="18" rx="4" stroke="#B3B3B3" stroke-width="2"/>
                                    </svg>
                                    <!-- Square Selected -->
                                    <svg *ngIf="question.questionType == 'checkbox' && answer.selected" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="1" y="1" width="17" height="18" rx="4" fill="black" stroke="black" stroke-width="2"/>
                                    </svg>
                                    <p [ngClass]="[answer.selected ? 'text-black' : 'text-[#808080]' ]" class="text-sm">{{ answer.answerValue }}</p>
                                </div>
                                <!-- Linear -->
                                <div *ngIf="question.questionType == 'linear'" class="flex justify-start items-center gap-8">
                                    <div *ngFor="let n of numSequesnce(10); let i = index;" class="grid space-y-2 justify-items-center">
                                        <!-- Circle Not Selected -->
                                        <svg *ngIf="answer.answerValue != i.toString()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                            <circle cx="10" cy="10" r="9" stroke="#B3B3B3" stroke-width="2"/>
                                        </svg>
                                        <!-- Circle Selected -->
                                        <svg *ngIf="answer.answerValue == i.toString()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                            <circle cx="10" cy="10" r="9" stroke="black" stroke-width="2"/>
                                        </svg>
                                        <p class="text-sm text-[#808080]">{{ i }}</p>
                                    </div>
                                </div>
                                <!-- Textbox -->
                                <div *ngIf="question.questionType == 'textbox'" class="flex justify-center items-center ">
                                    <p class="text-sm">{{ answer.answerValue }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Answer -->
            </div>
            <div class="w-full grid grid-cols-6 gap-4 mt-12">
                <img *ngFor="let item of clientImages$" class="w-32 h-32 rounded-[20px]" [src]="baseUrl+ item.imagePath" alt="image">
            </div>        
        </div>
        <!-- / Client Answers -->

        <!-- Partner Answers -->
        <div *ngIf="(partnerAnswers$.length > 0) && (!editClient)" class="w-full flex flex-col justify-center items-center mt-32">
            <div class="w-full">
                <p class="text-2xl font-bold">Answers {{ client.matchedUser?.firstName }}</p>
            </div>
            <div *ngFor="let item of partnerAnswers$" class="w-full mt-10 space-y-6">
                <p class="text-xl">{{ item.questionCategory }}</p>
                <!-- Answer -->
                <div class="w-full grid grid-cols-2 gap-4">
                <div *ngFor="let question of item.questions" class="w-full bg-white rounded-[20px] p-4">
                    <p class="text-sm text-[#808080]">{{ question.questionTitle }}</p>
                    <div class="flex justify-start items-center w-full mt-10">
                        <div class="w-max">
                            <p class="text-sm text-[#808080]">Answer: {{ client.firstName }}</p>
                        </div>
                        <!-- <div class="pt-[1px] bg-[#E6E6E6] w-full"></div> -->
                    </div>
                    <div class="w-full mt-8 space-y-4">
                        <div *ngFor="let answer of question.answers">
                            <!-- Checkbox - Radio -->
                            <div *ngIf="question.questionType != 'textbox' && question.questionType != 'linear' " class="flex justify-start items-center gap-4">
                                <!-- Circle Not Selected -->
                                <svg *ngIf="question.questionType == 'radio' && !answer.selected" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <circle cx="10" cy="10" r="9" stroke="#B3B3B3" stroke-width="2"/>
                                </svg>
                                <!-- Circle Selected -->
                                <svg *ngIf="question.questionType == 'radio' && answer.selected" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="10" cy="10" r="9" stroke="black" stroke-width="2"/>
                                </svg>
                                <!-- Square Not Selected -->
                                <svg *ngIf="question.questionType == 'checkbox' && !answer.selected" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="1" y="1" width="17" height="18" rx="4" stroke="#B3B3B3" stroke-width="2"/>
                                </svg>
                                <!-- Square Selected -->
                                <svg *ngIf="question.questionType == 'checkbox' && answer.selected" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="1" y="1" width="17" height="18" rx="4" fill="black" stroke="black" stroke-width="2"/>
                                </svg>
                                <p [ngClass]="[answer.selected ? 'text-black' : 'text-[#808080]' ]" class="text-sm">{{ answer.answerValue }}</p>
                            </div>
                            <!-- Linear -->
                            <div *ngIf="question.questionType == 'linear'" class="flex justify-start items-center gap-8">
                                <div *ngFor="let n of numSequesnce(10); let i = index;" class="grid space-y-2 justify-items-center">
                                    <!-- Circle Not Selected -->
                                    <svg *ngIf="answer.answerValue != i.toString()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                        <circle cx="10" cy="10" r="9" stroke="#B3B3B3" stroke-width="2"/>
                                    </svg>
                                    <!-- Circle Selected -->
                                    <svg *ngIf="answer.answerValue == i.toString()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                        <circle cx="10" cy="10" r="9" stroke="black" stroke-width="2"/>
                                    </svg>
                                    <p class="text-sm text-[#808080]">{{ i }}</p>
                                </div>
                            </div>
                            <!-- Textbox -->
                            <div *ngIf="question.questionType == 'textbox'" class="flex justify-center items-center ">
                                <p class="text-sm">{{ answer.answerValue }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- / Answer -->
                <div class="w-full grip grid-cols-6 gap-4">
                    <img *ngFor="let item of partnerImages$" class="w-32 h-32 rounded-[20px]" [src]="baseUrl+ item.imagePath" alt="image">
                </div>
            </div>
        </div>
        <!-- / Partner Answers -->

        <!-- Handle Questions Form -->
        <div class="w-full mt-16 flex justify-center items-center">
            <div class="w-full max-w-[800px]">
                <!-- Cleints -->
                <!-- <form f="ngForm" [formGroup]="selectUserForm" (load)="generateUserForm(client)" [ngClass]="[client.matchedUserId == null] ? 'block': 'block' " class="w-full mt-8 mb-8">
                    <p class="w-full text-center text-base">Where do you want to send a message?</p>
                    <div class="w-full flex justify-center items-center gap-6 pt-4">
                        <div class="inline-flex justify-center items-center gap-2 bg-white px-4 py-5 rounded-[10px]">
                            <input type="checkbox" name="selectClient" formControlName="selectClient" value="" class="w-4 h-4 text-black bg-gray-100 border-gray-300 rounded focus:ring-black dark:focus:ring-black dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" checked/>
                            <input type="text" name="clientId" formControlName="clientId" hidden>
                            <div class="inline-flex justify-start items-center gap-2">
                                <img class="w-8 h-8" class="rounded-full" [src]="baseUrl + client.profileImagePath" alt="image" />
                                <p class="text-sm">{{ client.firstName }} {{ client.lastName }}</p>
                            </div>
                        </div>
                        <div class="inline-flex justify-center items-center gap-2 bg-white px-4 py-5 rounded-[10px]">
                            <input type="checkbox" name="matchedClient" formControlName="matchedClient" value="" class="w-4 h-4 text-black bg-gray-100 border-gray-300 rounded focus:ring-black dark:focus:ring-black dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" [checked]="client.matchedUserId != null"/>
                            <input type="text" name="matchedClientId" formControlName="matchedClientId" hidden/>
                            <div class="inline-flex justify-start items-center gap-2">
                                <img class="w-8 h-8" class="rounded-full" [src]="baseUrl + client.matchedUser?.profileImagePath" alt="image" />
                                <p class="text-sm">{{ client.matchedUser?.firstName }} {{ client.matchedUser?.lastName }}</p>
                            </div>
                        </div>
                    </div>
                </form> -->
                <!-- / Cleints -->

                <!-- Questions -->
                <form [formGroup]="questionsForm" class="w-full" >
                    <p class="text-2xl text-[#808080]">Send questions to: <span class="text-black font-bold">{{ client.firstName }} {{ client.lastName }}</span></p>
                    <div class="flex justify-start items-center gap-24 py-4">
                        <!-- yes/no radio -->
                        <div>
                            <div>
                                <label class="inline-flex items-center mb-5 cursor-pointer w-full justify-between gap-2">
                                    <input id="sendQuestions" name="sendQuestion" formControlName="sendQuestion" (change)="displayQuestionList = displayQuestionList === false ? true : false" type="checkbox" value="" class="sr-only peer">
                                    <div class="relative w-[72px] h-10 bg-[#E6E6E6] peer-focus:outline-none peer-focus:ring-0 peer-focus:ring-transparent rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[4px] after:start-[4px] after:bg-white after:border-white after:border after:rounded-full after:h-8 after:w-8 after:transition-all peer-checked:bg-[#4FE393]"></div>
                                </label>
                            </div>
                        </div>
                        <!-- questions -->
                        <div class="-mt-4  w-full">
                            <!-- no-questions -->
                            <div *ngIf="questions$.length <= 0">
                                <p class="text-sm">You have not added any questions.</p>
                                <p [routerLink]="['/questions-interests']" class="text-sm font-bold text-[#6144C6] cursor-pointer">Move to "Manage Questions"</p>
                            </div>
                            <!-- questions select -->
                            <div *ngIf="displayQuestionList">
                                <select id="questionId" formControlName="questionId" class="bg-[#E6E6E6] hover:bg-[#CCCCCC] h-12 border-none rounded-[10px] text-[#808080] text-sm block w-full p-3">
                                    <option selected value="0">Questions</option>
                                    <option *ngFor="let item of questions$" [value]="item.id">{{ item.questionCategoryTitle }}</option>
                                </select>
                                <p *ngIf="questionsSuccess" class="text-sm text-[#4FE393] pt-2">Questions successfully sent</p>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- / Questions -->

                <!-- Contract -->
                <div *ngIf="client.contractId === null" class="w-full max-w-[800px]">
                    <p class="text-2xl text-[#808080]">Send contact to: <span class="text-black font-bold">{{ client.firstName }} {{ client.lastName }}</span></p>
                    <!-- Contract -->
                    <div class="flex justify-start items-center gap-24 py-4">
                        <!-- yes/no radio -->
                        <div>
                            <div>
                                <label class="inline-flex items-center mb-5 cursor-pointer w-full justify-between gap-2">
                                    <input id="sendConrtact" type="checkbox" value="" class="sr-only peer">
                                    <div class="relative w-[72px] h-10 bg-[#E6E6E6] peer-focus:outline-none peer-focus:ring-0 peer-focus:ring-transparent rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[4px] after:start-[4px] after:bg-white after:border-white after:border after:rounded-full after:h-8 after:w-8 after:transition-all peer-checked:bg-[#4FE393]"></div>
                                </label>
                            </div>
                        </div>
                        <!-- contract -->
                        <div class="-mt-4  w-full">
                            <p class="text-sm">You have not uploaded any contracts.</p>
                        </div>
                    </div>
                </div>
                <!-- / Contract -->

                <!-- Send email -->
                <form #f="ngForm" [formGroup]="sendMessageForm" class="w-full">
                    <div class="w-full max-w-[800px]">
                        <p class="text-2xl text-[#808080]">Send email to: <span class="text-black font-bold">{{ client.firstName }} {{ client.lastName }}</span></p>
                        <!-- yes/no radio -->
                        <div>
                            <div>
                                <label class="inline-flex items-center mb-5 cursor-pointer w-full justify-between gap-2">
                                    <input id="messageChek" name="messageChek" formControlName="messageChek" type="checkbox" value="" class="sr-only peer">
                                    <div class="relative w-[72px] h-10 bg-[#E6E6E6] peer-focus:outline-none peer-focus:ring-0 peer-focus:ring-transparent rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[4px] after:start-[4px] after:bg-white after:border-white after:border after:rounded-full after:h-8 after:w-8 after:transition-all peer-checked:bg-[#4FE393]"></div>
                                </label>
                            </div>
                        </div>
                        <textarea name="message" id="message" formControlName="message" class="w-full bg-[#E6E6E6] rounded-[20px] border-none" rows="10"></textarea>
                        <p *ngIf="messageSuccess" class="text-sm text-[#4FE393] pt-2">Message successfully sent</p>
                    </div>
                    <div class="w-full max-w-[800px] flex justify-center items-center">
                        <button type="button" (click)="sendMessage()" class="bg-black border-2 border-black text-white rounded-full py-2 px-6 disabled:cursor-not-allowed">Send email</button>
                    </div>
                </form>
                <!-- / Send email -->
            </div>
        </div>
        <!-- / Handle Questions Form -->

        <!-- Delete User Alert -->
        <div *ngIf="deleteAlert" class="fixed top-0 left-0 bg-[#F6F6F6B2] flex justify-center items-center h-screen w-screen">
            <div class="bg-white rounded-[20px] pt-10 pb-12 px-14 w-full max-w-[664px] shadow-[0px_0px_40px_0px_rgba(0, 0, 0, 0.25)] flex flex-col justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                    <g clip-path="url(#clip0_166_801)">
                        <path d="M26.7021 7.54125L43.1008 36.0169C44.2502 38.0231 42.7652 40.5 40.3989 40.5H7.60144C5.23519 40.5 3.75019 38.0231 4.89956 36.0169L21.2983 7.54125C22.4796 5.48625 25.5208 5.48625 26.7021 7.54125Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M24 27V19.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M24 36C25.2426 36 26.25 34.9926 26.25 33.75C26.25 32.5074 25.2426 31.5 24 31.5C22.7574 31.5 21.75 32.5074 21.75 33.75C21.75 34.9926 22.7574 36 24 36Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_166_801">
                        <rect width="48" height="48" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                <p class="text-[26px] font-bold pt-6">Attention {{ client?.firstName }} will be deleted!</p>
                <p class="text-[20px] pt-4">The profile will be deleted for the system, do you want to notify the user?</p>
                <form #f="ngForm" *ngIf="deleteClientDispForm" [formGroup]="deleteClientForm" class="w-full mt-8">
                    <textarea name="deleteClientMessage" formControlName="deleteClientMessage" id="deleteClientMessage" class="w-full rounded-[20px] border-none bg-[#E6E6E6] focus:ring-0" rows="10"></textarea>
                </form>
                <div class="w-full flex justify-center items-center gap-4 mt-24">
                    <button type="button" (click)="deleteClient(false, client.id)" class="w-full h-12 inline-flex justify-center rounded-full items-center bg-white border-2 border-black">Remove without notification</button>
                    <button type="button" (click)="deleteClient(true, client.id)" class="w-full h-12 inline-flex justify-center rounded-full items-center bg-black border-2 border-black text-white">Remove & Send email</button>
                </div>
            </div>
        </div>
        <!-- / Delete User Alert -->
    </div>
</div>
