/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// Primary input
input.primary {
    background-color: #E6E6E6;
    border: none;
}

input.primary::placeholder, input.primary::-moz-placeholder {
    color: #808080;
}

input.primary:hover {
    background-color: #CCCCCC;
}

input.primary:focus {
    background-color: #E6E6E6;
    color: black;
    border-bottom: 2px solid black;
    --tw-ring-color: transparent;
}

.ngb-dp-weekday {
    color: #FBDADA !important;
    font-size: 16px !important;
    font-style: normal !important;
    // margin-right: 34px;
    
}

// .ngb-dp-weekdays {
//     gap: 32px !important;
// }

.ngb-dp-week {
    color: white;
    gap: 25px;
}

@media screen and (min-width: 1024px) {
    .ngb-dp-week {
        color: white;
        gap: 56px;
        margin-bottom: 25px;
    }
}

.ngb-dp-header {
    padding-top: 0px !important;
}

.ngb-dp-day[tabindex="0"] {
    background-color: #C5C5C5 !important;
    // color: #000000 !important;
    border-radius: 99%;
}