<div class="w-full h-full inline-flex justify-center p-4 rounded-30px">

    <div class="w-full max-w-[1120px]">

        <!-- Filters -->
        <form #f="ngForm" [formGroup]="filtersForm" (ngSubmit)="search()" class="w-full">
            <div class="w-full flex justify-center items-center gap-3">
                <!-- search -->
                <div class="relative w-full">
                    <input
                        type="text" 
                        id="search"
                        formControlName="search"
                        [ngClass]="[filtersForm.controls['search'].invalid && (filtersForm.controls['search'].touched || filtersForm.controls['search'].dirty) ? 'ring-[#FF1941] ring-2 focus:ring-[#FF1941]' : '']"
                        class="block rounded-full h-12 w-full text-sm text-black text-bold bg-[#E6E6E6] border-none appearance-none  focus:ring-black focus:ring-2 peer" placeholder=" " />
                    <label 
                        for="search"
                        class="absolute text-sm text-[#808080] duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-3 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">
                        Search
                    </label>
                </div>
                <!-- / Search -->

                <!-- Gender -->
                <div class="w-max">
                    <ul class="grid grid-cols-3 bg-[#E6E6E6] p-1 gap-3 rounded-full w-max">
                        <li class="w-10 h-10">
                            <input type="radio" id="all" name="gender" value="all" formControlName="gender" class="hidden peer" checked>
                            <label for="all" class="flex justify-center items-center bg-transparent w-full h-full rounded-full cursor-pointer peer-checked:bg-white opacity-50 peer-checked:opacity-100 gap-2">                           
                                All
                            </label>
                        </li>
                        <li class="w-10 h-10">
                            <input type="radio" id="male" name="gender" value="male" formControlName="gender" class="hidden peer">
                            <label for="male" class="flex justify-center items-center bg-transparent w-full h-full rounded-full cursor-pointer peer-checked:bg-white opacity-50 peer-checked:opacity-100 gap-2">                           
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <g clip-path="url(#clip0_139_139)">
                                        <path d="M9.75 21C13.4779 21 16.5 17.9779 16.5 14.25C16.5 10.5221 13.4779 7.5 9.75 7.5C6.02208 7.5 3 10.5221 3 14.25C3 17.9779 6.02208 21 9.75 21Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M14.5229 9.47719L20.2501 3.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M15.75 3.75H20.25V8.25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_139_139">
                                        <rect width="24" height="24" fill="white"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </label>
                        </li>
                        <li class="w-1- h-10">
                            <input type="radio" id="female" name="gender" formControlName="gender" value="female" class="hidden peer">
                            <label for="female" class="flex justify-center items-center bg-transparent w-full h-full rounded-full cursor-pointer peer-checked:bg-white opacity-50 peer-checked:opacity-100 gap-2">                           
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <g clip-path="url(#clip0_139_146)">
                                        <path d="M12 15.75C15.7279 15.75 18.75 12.7279 18.75 9C18.75 5.27208 15.7279 2.25 12 2.25C8.27208 2.25 5.25 5.27208 5.25 9C5.25 12.7279 8.27208 15.75 12 15.75Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M12 15.75V22.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M8.25 19.5H15.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_139_146">
                                        <rect width="24" height="24" fill="white"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </label>
                        </li>
                    </ul>
                </div>
                <!-- / Gender -->

                <!-- Age -->
                <div class="w-max rounded-full bg-[#E6E6E6] p-1 inline-flex justify-center items-center gap-2">
                    <input type="text" name="minAge" formControlName="minAge" class="w-12 h-10 bg-white rounded-full text-sm text-center border-none" />
                    <p class="text-sm text-[#8E8E8E]">to</p>
                    <input type="text" name="maxAge" formControlName="maxAge" class="w-12 h-10 bg-white rounded-full text-sm text-center border-none" />
                </div>
                <!-- / Age -->

                <!-- Status -->
                <div class="w-max">
                    <ul class="grid grid-cols-3 bg-[#E6E6E6] p-1 gap-3 rounded-full w-max">
                        <li class="w-10 h-10">
                            <input type="radio" id="all" name="status" value="all" formControlName="status" class="hidden peer" checked>
                            <label for="all" class="flex justify-center items-center bg-transparent w-full h-full rounded-full cursor-pointer peer-checked:bg-white opacity-50 peer-checked:opacity-100 gap-2">                           
                                All
                            </label>
                        </li>
                        <li class="w-10 h-10">
                            <input type="radio" id="0" name="status" value="0" formControlName="status" class="hidden peer">
                            <label for="0" class="flex justify-center items-center bg-transparent w-full h-full rounded-full cursor-pointer peer-checked:bg-white opacity-50 peer-checked:opacity-100 gap-2">                           
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <g opacity="0.5" clip-path="url(#clip0_9_392)">
                                        <path d="M12 6.34031L10.8919 5.23312C10.1839 4.52526 9.28189 4.04322 8.29995 3.84794C7.31801 3.65266 6.30022 3.75291 5.37526 4.13602C4.4503 4.51913 3.65969 5.1679 3.10341 6.00029C2.54713 6.83269 2.25014 7.81133 2.25 8.8125C2.25 15 12 20.25 12 20.25C12 20.25 21.75 15 21.75 8.8125C21.7499 7.81133 21.4529 6.83269 20.8966 6.00029C20.3403 5.1679 19.5497 4.51913 18.6247 4.13602C17.6998 3.75291 16.682 3.65266 15.7 3.84794C14.7181 4.04322 13.8161 4.52526 13.1081 5.23312L10.5 7.84031L13.3294 10.6706L11.25 12.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_9_392">
                                        <rect width="24" height="24" fill="white"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </label>
                        </li>
                        <li class="w-1- h-10">
                            <input type="radio" id="1" name="status" formControlName="status" value="1" class="hidden peer">
                            <label for="1" class="flex justify-center items-center bg-transparent w-full h-full rounded-full cursor-pointer peer-checked:bg-white opacity-50 peer-checked:opacity-100 gap-2">                           
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <g opacity="0.5" clip-path="url(#clip0_9_389)">
                                        <path d="M12 20.25C12 20.25 2.25 15 2.25 8.8125C2.25 7.46984 2.78337 6.18217 3.73277 5.23277C4.68217 4.28337 5.96984 3.75 7.3125 3.75C9.43031 3.75 11.2444 4.90406 12 6.75C12.7556 4.90406 14.5697 3.75 16.6875 3.75C18.0302 3.75 19.3178 4.28337 20.2672 5.23277C21.2166 6.18217 21.75 7.46984 21.75 8.8125C21.75 15 12 20.25 12 20.25Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_9_389">
                                        <rect width="24" height="24" fill="white"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </label>
                        </li>
                    </ul>
                </div>
                <!-- / Status -->

                <!-- Interests -->
                <!-- / Interests -->
                <button type="submit" class="rounded-full bg-black text-white w-10 h-10 text-center">S</button>
            </div>
        </form>
        <!-- / Filters -->

        <!-- Clients -->
        <div class="w-full mt-12">
            <table class="w-full border-none rounded-2xl">
                <tr *ngFor="let item of clients$; let j = index" [ngClass]="[j % 2 === 0 ? 'bg-white' : 'bg-[#E6E6E6]'] " [routerLink]="['/profile', item.id]"   class="w-full rounded-2xl h-20 cursor-pointer">
                    <!-- image -->
                    <td class="p-1 rounded-l-2xl w-max">
                        <div class="inline-flex justify-center items-center">
                            <img class="bg-[#EFEFEF] border-1 border-[#D9D9D9] rounded-full w-16 h-16 z-0" [src]="'http://localhost:5270/' + item.profileImagePath" alt="image">
                            <img *ngIf="item.matchedUserId != null" class="bg-[#EFEFEF] border-1 border-[#D9D9D9] rounded-full w-16 h-16 -z-10 -ml-6" [src]="'http://localhost:5270/' + item.matchedUser?.profileImagePath" alt="image">
                        </div>
                    </td>
                    <!-- name -->
                    <td class="p-1">
                        <div class="grid space-y-1">
                            <p class="text-sm">{{ item.firstName }} {{ item.lastName }}</p>
                            <p *ngIf="item.matchedUserId != null" class="text-sm">{{ item.matchedUser?.firstName }} {{ item.matchedUser?.lastName }}</p>
                        </div>
                    </td>
                    <!-- Status -->
                    <td class="p-1">
                        <p class="text-sm">{{ clientService.setClientStatus(item.status) }}</p>
                    </td>
                    <!-- Gender -->
                    <td class="p-1">
                        <div class="inline-flex justify-center items-center gap-8">
                            <!-- male -->
                            <svg *ngIf="item.sex == 'male'" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <g clip-path="url(#clip0_9_449)">
                                    <path d="M9.75 21C13.4779 21 16.5 17.9779 16.5 14.25C16.5 10.5221 13.4779 7.5 9.75 7.5C6.02208 7.5 3 10.5221 3 14.25C3 17.9779 6.02208 21 9.75 21Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M14.5228 9.47719L20.25 3.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15.75 3.75H20.25V8.25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_9_449">
                                    <rect width="24" height="24" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            <!-- female -->
                            <svg *ngIf="item.sex == 'female'" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <g clip-path="url(#clip0_9_439)">
                                    <path d="M12 15.75C15.7279 15.75 18.75 12.7279 18.75 9C18.75 5.27208 15.7279 2.25 12 2.25C8.27208 2.25 5.25 5.27208 5.25 9C5.25 12.7279 8.27208 15.75 12 15.75Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 15.75V22.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M8.25 19.5H15.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_9_439">
                                    <rect width="24" height="24" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            <p class="text-sm">{{ item.sex }}</p>
                        </div>
                        <div *ngIf="item.matchedUserId != null" class="inline-flex justify-center items-center gap-8">
                            <!-- male -->
                            <svg *ngIf="item.matchedUser?.sex == 'male'" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <g clip-path="url(#clip0_9_449)">
                                    <path d="M9.75 21C13.4779 21 16.5 17.9779 16.5 14.25C16.5 10.5221 13.4779 7.5 9.75 7.5C6.02208 7.5 3 10.5221 3 14.25C3 17.9779 6.02208 21 9.75 21Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M14.5228 9.47719L20.25 3.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15.75 3.75H20.25V8.25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_9_449">
                                    <rect width="24" height="24" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            <!-- female -->
                            <svg *ngIf="item.matchedUser?.sex == 'female'" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <g clip-path="url(#clip0_9_439)">
                                    <path d="M12 15.75C15.7279 15.75 18.75 12.7279 18.75 9C18.75 5.27208 15.7279 2.25 12 2.25C8.27208 2.25 5.25 5.27208 5.25 9C5.25 12.7279 8.27208 15.75 12 15.75Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 15.75V22.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M8.25 19.5H15.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_9_439">
                                    <rect width="24" height="24" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            <p class="text-sm">{{ item.matchedUser?.sex }}</p>
                        </div>
                    </td>
                    <!-- Age -->
                    <td class="p-1">
                        <div class="grid space-y-1">
                            <p class="text-sm">{{ clientService.calculateAge(item.dateOfBirth) }}</p>
                            <p *ngIf="item.matchedUserId != null" class="text-sm">{{ clientService.calculateAge(item.matchedUser?.dateOfBirth) }}</p>
                        </div>
                    </td>
                    <!-- Interests -->
                    <td class="p-1 rounded-r-2xl">

                    </td>
                </tr>
            </table>
        </div>
        <!-- / Clients -->

        <!-- no clients -->
        <div *ngIf="clients$.length <= 0" class="w-full flex justify-center items-center flex-col mt-24">
            <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 96 96" fill="none">
                <g clip-path="url(#clip0_18_545)">
                    <path d="M86.5987 82.5C86.3354 82.9562 85.9566 83.3349 85.5004 83.5982C85.0442 83.8615 84.5267 84.0001 84 84H12C11.4736 83.9995 10.9567 83.8604 10.5011 83.5969C10.0454 83.3334 9.66715 82.9546 9.40421 82.4987C9.14127 82.0427 9.00292 81.5256 9.00305 80.9992C9.00319 80.4729 9.1418 79.9558 9.40498 79.5C15.1162 69.6262 23.9175 62.5462 34.1887 59.19C29.1081 56.1655 25.1608 51.5568 22.9529 46.0717C20.7451 40.5867 20.3988 34.5285 21.9673 28.8276C23.5357 23.1267 26.9322 18.0982 31.6351 14.5145C36.338 10.9307 42.0872 8.98979 48 8.98979C53.9127 8.98979 59.662 10.9307 64.3649 14.5145C69.0678 18.0982 72.4642 23.1267 74.0327 28.8276C75.6012 34.5285 75.2549 40.5867 73.047 46.0717C70.8392 51.5568 66.8919 56.1655 61.8112 59.19C72.0825 62.5462 80.8837 69.6262 86.595 79.5C86.8589 79.9557 86.9981 80.4729 86.9988 80.9995C86.9994 81.5261 86.8615 82.0436 86.5987 82.5Z" fill="#808080"/>
                </g>
                <defs>
                    <clipPath id="clip0_18_545">
                    <rect width="96" height="96" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
            <p class="text-[28px] text-[#808080]">No clients found</p>
        </div>
        <!-- / no clients -->
    </div>

</div>