<!-- Register Background -->
<div class="bg-[#F2F2F2] rounded-t-[40px] p-6 mt-[130px] border border-black border-solid">
        
    <!-- Title -->
    <div class="text-[#6144C6] text-2xl font-normal text-center pt-6">Καλώς ήρθες στην ομάδα μας</div>
    <div class="text-black text-sm font-normal text-center pt-10">Δημιούργησε έναν κωδικό πρόσβασης</div>

    <!-- Register Form -->
    <div class="w-full flex-col justify-center items-center pt-[26px]">

        <!-- Name -->
        <div class="w-full bg-[#E6E6E6] opacity-50 rounded-[10px] px-4 py-1 mb-3">
            <div class="text-black text-[12px] font-normal">Ονοματεπώνυμο Διαχειριστή</div>
            <div class="text-black text-sm font-bold pb-1">Γιώργος Παπαδόπουλος</div>
        </div>

        <!-- Email -->
        <div class="w-full bg-[#E6E6E6] opacity-50 rounded-[10px] px-4 py-1 mb-3">
            <div class="text-black text-[12px] font-normal">Email</div>
            <div class="text-black text-sm font-bold pb-1">papadopoulos.com</div>
        </div>

        <!-- Password -->
        <div class="w-full bg-[#E6E6E6] rounded-[10px] px-4 py-1 mb-3">
            <div class="text-black text-[12px] font-normal">Αλλαγή Κωδικού</div>
            <div class="text-black text-sm font-bold pb-1">******</div>
        </div>

        <!-- Confirm Password -->
        <div class="w-full bg-[#E6E6E6] opacity-50 rounded-[10px] p-4">
            <div class="text-black text-sm font-normal">Επιβεβαίωση Κωδικού</div>
        </div>

        <!-- Submit -->
        <button class="w-full bg-black rounded-[32px] p-4 mt-[96px]">
            <div class="text-white text-sm font-bold text-center">Δημιουργία Λογαριασμού</div>
        </button>

    </div>

</div>